@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    background-image: url(../images/iStock-1455407880.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.quiz-form {
    width: 60%;
    margin-top: 20rem;
    margin-left: 12rem;
    background-color: rgb(241, 216, 224);
    color: #084047;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 60px;

}

h1 {
    text-align: center;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type='radio'] {
    transform: scale(3);
    margin-left: 25px;

}

.options {
    margin-bottom: 20px;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #160a1b8c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #492040;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.hide {
    display: none;
}

@media screen and (min-width: 768px) {
    .quiz-form {
        position: absolute;
        margin-top: 17rem;
        font-size: 35px;
    }
}

@media screen and (min-width: 992px) {
    
.quiz-form {
        width: 50%;
        margin-top: 20rem;
        margin-left: 30rem;
        background-color: rgb(241, 216, 224);
        color: #084047;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        font-size: 20px;
    }

input[type='radio'] {
    transform: none;
    margin-left: none;

}

.button {
    font-size: 20px;
}

}
    
